<HTML>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static',filename='stylesheet.css')}}"/>
<title>Strandempfehlung</title>
<style>
h1{color: red;}
fieldset{
border: none}
</style>
</head>
<body>
<h1>Strandempfehlung</h1>
<p><img src="{{url_for('static',filename='Logo-Kopie.png')}}" height="250"/></p>
<p>An welchem Strand ist heute das beste Badewetter? </p>
<p>Diese Website hilft dir dabei, den perketen Strand für dich zu finden. Basierend auf deiner Region und Aktivität wird dir der Strand mit den besten Wetterbedingungen angezeigt.</p>
<p>Hier kannst du alle für dich infrage kommenden Orte mit Komma getrennt eingeben:</p>
<form action="/ort" method="POST">
	<input type="text" id="Orte" name="ort">
	<p>Suche dir eine Aktivität aus:</p>
	<fieldset>
		<input type="radio" id="ba" name="Aktivität" value="Baden">
		<label for="ba">Baden</label>
		<br/>
		<input type="radio" id="wi" name="Aktivität" value="Windsurfen">
		<label for="wi">Windsurfen</label>
		<br/>
		<input type="radio" id="ki" name="Aktivität" value="Kitesurfen">
		<label for="ki">Kitesurfen</label>
		<br/>
		<input type="radio" id="se" name="Aktivität" value="Katamaransegeln">
		<label for="se">Katamaransegeln</label>
		<br/>
		<br/>
		<button type ="submit">Bester Strand!</button>
	</fieldset>
</form>
</body>
</HTML>